
@{
    ViewBag.Title = "Registrationlist";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<font color="Blue"><h2>RegistrationList</h2></font>



<style>
    td {
        border: double;
        padding: 10px;
    }
</style>

<table>
    <tr>
        <td>
            <h4>Sr.No</h4>
        </td>
        <td>
            <h4>Customer Name</h4>
        </td>
        <td>
            <h4>Mobile No.</h4>
        </td>
        <td>
            <h4>GST</h4>
        </td>
        <td>
            <h4>Address</h4>
        </td>
        <td>
            <h4> City</h4>
        </td>
        <td>
            <h4>Check Info</h4>
        </td>



    </tr>
    <tr>
        <td>
            <h5>1.</h5>
        </td>
        <td>
            <h5>
                Roshni Chopra
            </h5>
            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>91236415634</h5>
        </td>
        <td>
            <h5>  null</h5>
        </td>
        <td>
            <h5> Durga nagar ,nagpur.</h5>
        </td>
        <td>
            <h5>  Nagpur</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Registration/Registrationlist"> <input type="button" value="Details" class="btn btn-primary" /></a></br>

        </td>

    </tr>
    <tr>
        <td>
            <h5>2.</h5>
        </td>
        <td>
            <h5>
                Aaradhya Jeswani
            </h5>
            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>9767622567</h5>
        </td>
        <td>
            <h5> null</h5>
        </td>
        <td>
            <h5> Shivaji nagar ,Pune.</h5>
        </td>
        <td>
            <h5> Pune</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Reg/RegistrationDetails"> <input type="button" value="Details" class="btn btn-primary" /></a></br>
        </td>

    </tr>
    <tr>
        <td>
            <h5>3.</h5>
        </td>
        <td>
            <h5>
                Krupali Roy
            </h5>

            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>7087453950</h5>
        </td>
        <td>
            <h5>  null</h5>
        </td>
        <td>
            <h5> Vasudev nagar ,Delhi.</h5>
        </td>
        <td>
            <h5> Delhi</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Reg/RegistrationDetails"> <input type="button" value="Details" class="btn btn-primary" /></a></br>
        </td>

    </tr>
    <tr>
        <td>
            <h5>4.</h5>
        </td>
        <td>
            <h5>
                Achal Sharma
            </h5>

            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>91265225437</h5>
        </td>
        <td>
            <h5> 56452hng</h5>
        </td>
        <td>
            <h5>  radhakrishna nagar,jodhpur.</h5>
        </td>
        <td>
            <h5>  Jodhpur</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Reg/RegistrationDetails"> <input type="button" value="Details" class="btn btn-primary" /></a></br>
        </td>

    </tr>
    <tr>
        <td>
            <h5>5.</h5>
        </td>
        <td>
            <h5>
                Priyanka Chopra
            </h5>

            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>9605673264</h5>
        </td>
        <td>
            <h5>  56785hng</h5>
        </td>
        <td>
            <h5>  Ghandi nagar,chandapur</h5>
        </td>
        <td>
            <h5>  Chandapur</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Reg/RegistrationDetails"> <input type="button" value="Details" class="btn btn-primary" /></a></br>
        </td>

    </tr>
    <tr>
        <td>
            <h5>6.</h5>
        </td>
        <td>
            <h5>
                Roshana Singh
            </h5>

            <input type="button" value="Account" class="btn btn-dark">
            <input type="button" value="invoice" class="btn btn-dark">
        </td>
        <td>
            <h5>7821873360</h5>
        </td>
        <td>
            <h5>  47785hng</h5>
        </td>
        <td>
            <h5> Belgaon,Bhadrawati.</h5>
        </td>
        <td>
            <h5>Bhadrawati</h5>
        </td>
        <td>
            <input type="button" value="Edit" class="btn btn-success" /></br>
            <input type="button" value="Delete" class="btn btn-danger" /></br>
            <a href="~/Reg/RegistrationDetails"> <input type="button" value="Details" class="btn btn-primary" /></a></br>
        </td>

    </tr>
    </tabel>





