
@{
    ViewBag.Title = "Regindex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><table></center>
<font color="broun"><h2>Registration Page</h2></font>

<b><label> Firstname </label></b>
<br>
<input type="text" id="textname" placeholder="Enter your Name" style="width:1000px" /> </br>
<br>
<b><label> Middlename: </label></b>
<br>
<input type="text" id="textname" placeholder="Enter your FatherName" style="width:1000px" /> </br>
<br>
<b><label> Lastname: </label></b>
<br>
<input type="text" id="textname" placeholder="Enter your SurnameName" style="width:1000px" /> </br>
<br>
<b><label> Contactname </label></b>
<br>
<input type="text" id="textname" placeholder=" Contact Number" style="width:1000px" /> </br>
<br>
<b><label> Email </label></b>
<br>
<input type="text" id="textname" placeholder="Email-Id" style="width:1000px" /> </br>
<br>
<b><label> City </label></b>
<br>
<input type="text" id="textname" placeholder="City" style="width:1000px" /> </br>
<br>
<b><label> Pincode </label></b>
<br>
<input type="text" id="textname" placeholder="PinCode" style="width:1000px" /> </br>
<br>
<b><label> Date Of Birth </label></b>
<br>
<input type="date" id="textname" placeholder="Date Of Birth" style="width:1000px" /> </br>
<br>
<b></label> Gender </label></b>
<br>
<input type="radio" id="id" name="fav_language" value="html">
<label for=" html">Male</label>
<br>
<input type="radio" id="id" name="fav_language" value="html">
<label for=" html">Female</label>
<br></br>
<b><label> Password </label></b>
<br>
<input type="text" id="textname" placeholder="PassWord" style="width:1000px" /> </br>
<br>
<b><label> Conform Password </label></b>
<br>
<input type="text" id="textname" placeholder="Conform Password" style="width:1000px" /> </br>
<br>
<b><label> Enter Your Address </label></b>
<br>
<textarea typeof="text" placeholder="Enter Your Address" style="width=2000px"></textarea></br>

<input type="button" value="submit" class="btn btn-success" />
        </br></br>

<input type="button" value="Cancle" class="btn btn-danger"</a></font>
<center></table></center>