
@{
    ViewBag.Title = "feedIndex";
}
<center><table></center>
<font color="broun"><h2>Feed Index</h2></font>
<bg color="black"><center><font color="black"></center></bg color>

<b><label> Customer Name</label></b>
<br>
<input type="text" id="textname" placeholder="Enter your Name" style="width:1000px" /> </br>
<br>
<b><label> Customer Address</label></b>
<br>
<input type="text" id="textname" placeholder="Address" style="width:1000px" /> </br>
<br>
<b><label> Book Details</label></b>
<br>
<input type="text" id="textname" placeholder="Book Name" style="width:1000px" /> </br>
<br>
<b><label> Review for Book </label></b>
<br>
<input type="text" id="textname" placeholder="Write your Book Reading Experiences" style="width:1000px" /> </br>
<br>
<b><label>Customer Phone No</label></b>
<br>
<input type="text" id="textname" placeholder="Contact No" style="width:1000px" /> </br>
<br>
<b><label>Recommendation</label></b>
<br>
<input type="text" id="textname" placeholder="How Much People you Reccomended Book" style="width:1000px" /> </br>
<br>
<input type="button" value="submit" class="btn btn-success" />
</br>
<center></table></center>














