
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<font color="blue"><h2>Index</h2></font>
<html>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: #2196F3;
            padding: 10px;
        }

        .grid-item {
            background-color:bisque;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="grid-container">
        <div class="grid-item">Marathi Book</div>
        <div class="grid-item">Exam Preparation Book </div>
        <div class="grid-item">Indian Polity</div>
        <div class="grid-item">Comics</div>
        <div class="grid-item">Staff Selection Commision</div>
        <div class="grid-item">Geography Book</div>
        <div class="grid-item">History Book</div>
        <div class="grid-item">Poetry Book</div>
        <div class="grid-item">English Comic </div>
    </div>

</body>
</html>