
@{
    ViewBag.Title = "Index";
}

<h2>
    <font color="broun">Product</font>
</h2>

<b><font size="4"><font color="black">POETRY BOOK</font></font></b>

<style>
    td {
        border: groove;
        padding: 20px;
    }
</style>
<table border="4">

    <tr>
        <td>
            <img src="~/Content/poem 1.jpg"
                 width="180px" height="200px" />
            <br>
            <b>MARGASHTHA</b>
            <br>
            Prize: 333
            <br>
            Edition: 2nd
            <br>
            Publication: August 21 2022
            <br>
            <center><a href="~/Product/ProductDetails"><input type="button" value="Details" class="btn btn-success"/></a></center>
        </td>

        <td>
            <img src="~/Content/poem 2.jpg"
                 width="180px" height="200px" />
            <br>
            <b>VIRANGULLA</b>
            <br>
            Prize: 190
            <br>
            Edition: 1ST
            <br>
            Publication: August 14 2019
            <br>
            <center><a href="~/Product/ProductDetails1"><input type="button" value="Details" class="btn btn-success"/></a></center>
        </td>

        <td>
            <img src="~/Content/POEM6.jpg"
                 width="180px" height="200px" />
            <br>
            <b>KAVITECHYA GAVAT</b>
            <br>
            Prize: 125
            <br>
            Edition: 2nd
            <br>
            Publication: SEPTEMBER 16 2011
            <br>
            <center><a href="~/Product/ProductDetails2"><input type="button" value="Details" class="btn btn-success"/></a></center>
        </td>
    </tr>
</table>

<br>

<b><font size="4"><font color="black">EXAM PREPARATION BOOK</font></font></b>

<style>
    td {
        border: groove;
        padding: 20px;
    }
</style>
<table border="4">
    <tr>
        <td>
            <img src="~/Content/environmental.jpg"
                 width="180px" height="200px" />
            <br>
            <b>ENVIRONMENTAL GEOGRAPHY</b>
            <br>
            Prize: 470
            <br>
            Edition: 2nd
            <br>
            Publication:  March 14 2016
            <br>
            <center><a href="~/Product/ProductDetails3"><input type="button" value="Details" class="btn btn-success"/></a></center>
        </td>

        <td>
            <img src="~/Content/INDIANPOLITY.jpg"
                 width="180px" height="200px" />
            <br>
            <b>INDIAN POLITY</b>
            <br>
            Prize: 735
            <br>
            Edition: 2nd
            <br>
            Publication: July 21 2023
            <br>
            <center><a href="~/Product/ProductDetails4"><input type="button" value="Details" class="btn btn-success" /></a></center>
        </td>

        <td>
            <img src="~/Content/MTS.jpg"
                 width="180" height="200px" />
            <br>
            <b>STAFF SELECTION COMMISION</b>
            <br>
            Prize: 333
            <br>
            Edition: 2nd
            <br>
            Publication: 21 August 2020
            <br>
            <center><a href="~/Product/ProductDetails5"><input type="button" value="Details" class="btn btn-success" /></a></center>
        </td>
    </tr>
</table>

<br>

<b><font size="4"><font color="black">COMICS BOOK FOR ONLY CHILD</font></font></b>

<style>
    td {
        border: groove;
        padding: 20px;
    }
</style>

<table border="4">
    <tr>
        <td>
            <img src="~/Content/d2.jpg" 
            width="180px" height="200px" />
            <br>
            <b>DABANG GIRL</b>
            <br>
            Prize: 650
            <br>
            Edition: 2nd
            <br>
            Publication:21 Octomber 2019
            <br>
            <center><a href="~/Product/ProductDetails6"><input type="button" value="Details"class="btn btn-success" /></a></center>
        </td>

        <td>
            <img src="~/Content/download (1).jpg" 
            width="180px" height="200px" />
            <br>
            <b>6 COMICS BOOK COMBINE</b>
            <br>
            Prize: 120
            <br>
            Edition: 2nd
            <br>
            Publication: 21 August 2022
            <br>
            <center><a href="~/Product/ProductDetails7"><input type="button" value="Details" class="btn btn-success" /></a></center>
            
        </td>

        <td>
            <img src="~/Content/download.jpg"
            width="180px" height="200px" />
            <br>
            <b>GHOSTS</b>
            <br>
            Prize: 333
            <br>
            Edition: 2nd
            <br>
            Publication: JANUARY 16 2019
            <br>
            <center><a href="~/Product/ProductDetails8"><input type="button" value="Details" class="btn btn-success" /></a>
            </center>
        </td>
      </tr>
    </table>