@{
    ViewBag.Title = "About"; 
}

<font color="broun"><h2>About</h2></font color>

<table>
    <tr>
        <img src="~/Content/img/b1.jpg" width="400" height="200" />
        <br>
        <td>
            <font color="black"> </font>
            <br>
            <b> Books are a treasure trove of knowledge</b>
            It is essential to inculcate reading habits from an early age to develop vocabulary and imaginative skills. Whether you are looking for storybooks for kids, novels for grown-ups, study material for education, preparatory books for competitive exams, or copies related to art and craft, you can browse and explore a wide range of options available at online bookstores. Discover the magic of literature available in a plethora of international languages like English, Spanish, French, German, Japanese, Korean, Russian, Arabic, Latin, Yiddish or regional languages like Hindi, Kannada, Malayalam, Marathi, Gujarati, Tamil, and more. Explore the collection and shop for books online. You can find your favourite literature, novels, storybooks, and more on offer and at great discounts. You can buy them to build your own collection or gift them to a reading enthusiast. You can buy them in paperback, hardcover, boxed set, leatherbound, as well as audio formats during this sale.
    </tr>

</table>

  <table>
      <tr>
          <img src="~/Content/images.jpg" width="400" height="200%"/>
          <br>
              <font color="black"> </font>
              <br>
              <b>What is the importance of books in our life?</b>
              Books play a quintessential role in every student’s life by introducing them to a world of imagination, providing knowledge of the outside world, improving their reading, writing and speaking skills as well and boosting memory and intelligence. The importance of books in our life cannot be undermined for they not only help in broadening our horizons but also act as doorways to connecting us with the world around us. They function as survival kits, they influence us and leave an impact on us. Want to know the benefits of books and the importance of reading? Curious about how books impact our lives? Read this blog to know all about the importance of books and the importance of book reading in a student’s life, essays on the importance of reading books, quotes and more.
              <br>
          </tr>

  </table>
