@{
    ViewBag.Title = "Contact";
}
<table>

    <tr>

        <font color="Broun"><lable><h2>Contact Form</h2></lable></font></font color>
    </tr>



    <tr>
        <td>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.842492708549!2d79.01785707503407!3d21.11884478055309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0003bdcdb59%3A0x68b6fc02a7413290!2seSankalp%20Software!5e0!3m2!1smr!2sin!4v1708662727199!5m2!1smr!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



        </td>
        <td>
                <h3>
                <font color="broun">Shopping</font>
                <font color="broun">Contact</font>
                <font color="broun">Details</font>

            </h3>
            <label><input type="text" id="txtname" placeholder="Please Enter Your Name" /></label>
            </br>
            <label><input type="text" id="txtname" placeholder="Please Enter Your Contact No" /></label>
            </br>
            <label><input type="text" id="txtname" placeholder="Please Enter Your Proper Details" /></label>
            </br>
            <textarea typeof="text" placeholder="message" style="width:" 1000px;">
                
            </textarea>
            <br>
            <input type="button " value="Submit" class="btn btn-success" />

        </td>

    </tr>


</table>

